*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;
}
#main{
  width: 100%;
  height: 100%;
  background-color: #e7e7e7e9;
  padding: 1.5% 8%;
}
#form-div{
  width: 96%;
  border-radius: 20px;
  box-shadow: 8px 8px 50px rgba(109, 108, 108, 0.661);
  height: 100%;
  background-color: #e3f8d0;
  /* background-color: #dbfabe; */
  padding: 2.8vh 2vw;
  display: flex;
}
#form-div #left-form{
  width: 32%;
  height: 100%;
  border-radius: 15px;
  background-color: #ffffff;
  padding: 2vh 2vw;
}
#left-form h1{
  font-size: 2.3rem;
  font-weight: normal;
  letter-spacing: -1.5px;
  font-family: 'Satisfy', cursive;
  text-transform: uppercase;
}
#left-form h3{
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 1.7rem;
  margin-top: 10%;
  margin-bottom: 10%;
  font-weight: 500;
  letter-spacing: -1px;
  line-height: 29px;
}
#left-form form{
  padding: 2vh 0;
  width: 100%;
  height: 65%;
}
#left-form form #username{
  background-color:#f2f2f2c4;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 1rem;
  border-radius: 10px;
  width: 100%;
  border: none;
  margin-bottom: 7px;
  padding: 12px;
  transition: all 0.3s ease-in-out;
  outline: none;
}
#left-form form #email{
  outline: none;
  background-color:#f2f2f2c4;
  border-radius: 10px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 1rem;
  width: 100%;
  border: none;
  margin-bottom: 7px;
  padding: 12px;
}
#left-form form #password{
  background-color:#f2f2f2c4;
  border-radius: 10px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 1rem;
  outline: none;
  width: 100%;
  border: none;
  margin-bottom: 7px;
  padding: 12px;
}
#left-form form #number{
  background-color:#f2f2f2c4;
  border-radius: 10px;
  width: 100%;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 1rem;
  border: none;
  margin-bottom: 7px;
  padding: 12px;
  outline: none;
  transition: all 0.3s ease-in-out;
}
#left-form form #address{
  background-color:#f2f2f2c4;
  border-radius: 10px;
  width: 100%;
  border: none;
  margin-bottom: 7px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 1rem;
  padding: 12px;
  transition: all 0.3s ease-in-out;
  outline: none;
}
#left-form form #username:focus{
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.704);
}
#left-form form #number:focus{
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.704);
}
#left-form form #address:focus{
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.704);
}
#left-form form #email:focus{
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.704);
}
#left-form form #password:focus{
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.704);
}
/* #left-form form #submit{
  background-color:#218b5dc4;
  border-radius: 20px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  width: 100%;
  border: none;
  color: white;
  font-size: 1.3rem;
  letter-spacing: -1px;
  margin-bottom: 7px;
  padding: 10px;
  margin-top: 32px;
  transition: all 0.3s ease-in-out;
}
#left-form form #submit:hover{
  cursor: pointer;
} */
button{
  top: -20%;
  border-radius: 60px;
  outline: none;
  border: 0.5px solid black;
  padding: 20px 40px;
  position: relative;
  /* background: #c9f8a1; */
  background: #e3f8d0;
  /* color: #c9f8a1; */
  color: #000;
  text-transform: uppercase;
  font-family: gilroy;
  letter-spacing: 4px;
  text-decoration: none;
  transform-style: preserve-3d;
  transition: ease-in-out 1.5s;
}
button:hover{
  cursor: pointer;
  transform: rotateX(360deg);
}
button span{
  display: block;
  font-weight: bold;
  transform-style: preserve-3d;
  transform: perspective(100px) translateZ(20px);
}
button::before{
  content: ' ';
  position: absolute;
  top: 4px;
  left: 6px;
  right: 6px;
  bottom: 4px;
  /* border: 2px solid #b2f874; */
  border: 2px solid black;
  transform-style: preserve-3d;
  transform: perspective(500px) translateZ(15px);
  border-radius: 60px;
}
#form-div #right-form{
  width: 68%;
  height: 100%;
  border-radius: 15px;
  padding: 0vh 2vw;
  position: relative;
  overflow: hidden;
}
.block{
  width: 50px;
  height: 100px;
  position: absolute;
  background-color: aqua;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.5);
}
.block:nth-child(1){
  background-image: url(../images/img1.jpg);
  background-size: cover;
}
.block:nth-child(2){
  background-image: url(../images/img2.jpg);
  background-size: cover;
}
.block:nth-child(3){
  background-image: url(../images/img3.jpg);
  background-size: cover;
}
.block:nth-child(4){
  background-image: url(../images/img4.jpg);
  background-size: cover;
}
.block:nth-child(5){
  background-image: url(../images/img5.jpg);
  background-size: cover;
}
.block:nth-child(6){
  background-image: url(../images/img6.jpg);
  background-size: cover;
}
.block:nth-child(7){
  background-image: url(../images/img7.jpg);
  background-size: cover;
}
.block:nth-child(8){
  background-image: url(../images/img8.jpg);
  background-size: cover;
}
.block:nth-child(9){
  background-image: url(../images/img9.jpg);
  background-size: cover;
}
.block:nth-child(10){
  background-image: url(../images/img10.jpg);
  background-size: cover;
}
.block:nth-child(11){
  background-image: url(../images/img11.jpg);
  background-size: cover;
}
.block:nth-child(12){
  background-image: url(../images/img12.jpg);
  background-size: cover;
}
.block:nth-child(13){
  background-image: url(../images/img13.jpg);
  background-size: cover;
}
.block:nth-child(14){
  background-image: url(../images/img14.jpg);
  background-size: cover;
}
.block:nth-child(15){
  background-image: url(../images/img15.jpg);
  background-size: cover;
}
.block:nth-child(16){
  background-image: url(../images/img16.jpg);
  background-size: cover;
}
.block:nth-child(17){
  background-image: url(../images/img17.jpg);
  background-size: cover;
}
.block:nth-child(18){
  background-image: url(../images/img18.jpg);
  background-size: cover;
}
.block:nth-child(19){
  background-image: url(../images/img19.jpg);
  background-size: cover;
}
.block:nth-child(20){
  background-image: url(../images/img20.jpg);
  background-size: cover;
}
.block:nth-child(21){
  background-image: url(../images/img21.jpg);
  background-size: cover;
}
.block:nth-child(22){
  background-image: url(../images/img22.jpg);
  background-size: cover;
}
.block:nth-child(23){
  background-image: url(../images/img23.jpg);
  background-size: cover;
}
.block:nth-child(24){
  background-image: url(../images/img24.jpg);
  background-size: cover;
}
.block:nth-child(25){
  background-image: url(../images/img25.jpg);
  background-size: cover;
}
.block:nth-child(26){
  background-image: url(../images/img26.jpg);
  background-size: cover;
}
.block:nth-child(27){
  background-image: url(../images/img27.jpg);
  background-size: cover;
}
.block:nth-child(28){
  background-image: url(../images/img28.jpg);
  background-size: cover;
}
.block:nth-child(29){
  background-image: url(../images/img29.jpg);
  background-size: cover;
}
.block:nth-child(30){
  background-image: url(../images/img30.jpg);
  background-size: cover;
}